name: CI

# Trigger the workflow on push or pull request, but only for the
# master branch
on:
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.hlint.yaml'
      - 'appveyor.yml'
      - 'stack.yaml'
      - '**/CHANGELOG.md'
      - '**/FUNDING.md'
      - '**/LICENSE'
      - '**/README.md'
  push:
    paths-ignore:
      - '.gitignore'
      - '.hlint.yaml'
      - 'appveyor.yml'
      - 'stack.yaml'
      - '**/CHANGELOG.md'
      - '**/FUNDING.md'
      - '**/LICENSE'
      - '**/README.md'

jobs:
  build:
    name: >-
      ${{ matrix.versions.ghc }}; ${{ matrix.versions.lua }};
      ${{ matrix.versions.flags }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions:
          - ghc: '9.6'
            cabal: '3.10'
            lua: 'bundled'
            flags: '-export-dynamic'
          - ghc: '9.8'
            cabal: '3.10'
            lua: 'bundled'
            flags: '+apicheck -allow-unsafe-gc'
          - ghc: '9.10'
            cabal: '3.12'
            lua: 'bundled'
            flags: '+rely-on-shared-lpeg-library'
          - ghc: '9.12'
            cabal: '3.14'
            lua: '5.4.4'
            flags: '+system-lua'

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Haskell
      uses: haskell-actions/setup@v2
      with:
        ghc-version: ${{ matrix.versions.ghc }}
        cabal-version: ${{ matrix.versions.cabal }}

    - uses: actions/cache@v4
      name: Cache ~/.cabal/store
      with:
        path: ~/.cabal/store
        key: ${{ runner.os }}-${{ matrix.versions.ghc }}-cabal

    - name: Install Lua from source
      if: matrix.versions.lua != 'bundled' && matrix.versions.lua != 'system'
      run: |
        wget http://www.lua.org/ftp/lua-${{ matrix.versions.lua }}.tar.gz
        tar -xf lua-${{ matrix.versions.lua }}.tar.gz
        cd lua-${{ matrix.versions.lua }}
        sed -i 's/^CFLAGS= -O2 -Wall/CFLAGS= -O2 -Wall -fPIC/' src/Makefile
        make linux
        make install INSTALL_TOP=${HOME}/usr
        cd ..

    - name: Configure
      run: |
        cabal v2-configure \
          --flags "${{ matrix.versions.flags }}" \
          --constraint="hslua +executable" \
          --enable-tests \
          --extra-include-dirs=${HOME}/usr/include \
          --extra-lib-dirs=${HOME}/usr/lib \

    - name: Build all
      run: cabal v2-build all

    - name: Test all
      run: cabal v2-test all

    - name: Run hslua executable
      run: cabal run hslua:hslua -- -e 'print "Success!"'

  windows:
    name: Windows (stack)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache stack global package db
        id:   stack-global-package-db
        uses: actions/cache@v4
        with:
          path: 'C:\Users\runneradmin\AppData\Roaming\stack\'
          key: ${{ runner.os }}-stack-${{ hashFiles('stack.yaml') }}

      - name: Install dependencies
        run: |
          stack update
          stack test --dependencies-only --fast

      - name: Build
        shell: cmd
        run: |
          stack test --no-run-tests --fast

      - name: Test
        shell: cmd
        run: |
          stack test --fast --test-arguments="--ansi-tricks=false"
